body{
    font-family:kefa;
    margin: 0;
    overflow-x: hidden;
}

header {
    position: fixed;
    width: 100%; 
    background: #161616; 
    color: #fff;
    margin: 0;
    text-align: center;   
    
}
header img{
    width: 18%;
}
nav {
    
    background-color:#202020 ;
    text-align: center;
}
nav ul{
    margin: 0;
    padding: 15px 2% 15px 2%;
}
nav li{
    list-style: none;
    display: inline-block;
    margin-right: 1%;
}

nav a{
    text-transform: uppercase;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
}
nav a:hover{
    color: #bebebe;
    text-decoration: underline;
}

.banner{
    background-color:#202020 ;
}
.banner img{
    padding-top: 160px;
    width: 100%;
}
.titulo-seccion{
    vertical-align: top;
    background-color:#202020 ;
    text-align: center;
    padding: 5px;
    margin-top: -5px;
    color: #fff;
}
.titulo-seccion h2{
    font-size: 16px;
}
.productos {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
}
.productos li{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    margin: 1.5%;
    padding: 30px 20px;
    width: 30%;
    box-sizing: border-box;
    font-family:kefa;
    
}
.productos h3{
    font-weight: bold;
}

.productos img {
    width: 90%;
}

.banner2 img{
    width: 100%;
}

footer{
    background-color: #000000;
    color: #fff;
    margin-top: -20px;
    
}

footer section{
    display: inline-block;
    width:30%;
    text-align: center;
    font-family:kefa;
    margin-top: 3%;
}

footer li{
    list-style: none;
    margin-bottom: 1%;
}

footer a{
    text-decoration: none;
    color: #fff;
}

footer h2{
    text-transform:uppercase ;
    font-size: 16px;
}

footer ul{
        padding: 0;
     }

.copyright{
    margin-bottom: -10px;
    text-align: center;
}


@media (max-width: 600px) {
    
    header img{
        width: 50%;
    }
    .banner img{
        padding-top: 160px;
        width: 100%;
        }
   
    .productos li{
        width: 90%;
        
    }
    footer{
        margin-top: -32px;
        padding-top: 20px;
    }
     footer section{
        display: block;
        text-align: left;
        margin: 5%;
        width:90%;
       
     }
     
     

}
